:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
}

.card{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    overflow: hidden;
    text-align: center;
}

.card__title{
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
    color: var(--Very-Dark-Blue);
}

.card__title--bold{
    font-weight: 600;
}

.card__paragraph{
    line-height: 1.5;
    color: var(--Grayish-Blue);
}

.card__container{
    padding-top: 80px;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "card1"
    "card2"
    "card3"
    "card4";
    justify-items: center;
    gap: 2.5em;
}

.card__item{
    width: 90%;
    max-width: 350px;
    padding: 1.5em 1.7em;
    border-radius: 6px;
    box-shadow: 0 4px 20px -6px hsl(212, 86%, 64%, .5);
    border-top: 4px solid var(--Cyan);
    grid-area: card1;
}

.card__item:nth-child(2){
    grid-area: card2;
    border-top: 4px solid var(--Red);
}

.card__item:nth-child(3){
    grid-area: card3;
    border-top: 4px solid var(--Orange);
}

.card__item:nth-child(4){
    grid-area: card4;
    border-top: 4px solid var(--Blue);
}

.card__name{
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.card__copy{
    color: var(--Very-Dark-Blue);
    font-weight: 200;
    padding-bottom: 40px;
}

.card__picture{
    width: max-content;
    margin-left: auto;
}

.card__img{
    display: block;
}

@media (min-width: 768px) {
    .card__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        ". card1 ."
        "card2 card1 card3"
        "card2 card4 card3"
        ". card4 .";
    }
}

